@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.navbar {
  background-image: url(./image/Group\ 1962.png);

  width: 100%;
  height: 650px;
}
.banner__map {
  justify-content: center;
  display: flex;
  position: relative;
  z-index: -1;
  color: #ffeb38;
}
.baner_map__img {
  position: absolute;
}

.ibl__heading {
  font: bold;
  color: rgb(248, 248, 248);
  font-size: 25px;
  margin-left: 220px;
  margin-top: 1em;
}
.navbar__logo {
  position: relative;
  top: 0;
  max-width: 1920px;
  margin: 0 auto;
}
.navbar {
  position: absolute;
  top: 0;
  position: sticky;
}

/* .navbar__logo__content {
  position: relative;
  
} */

.navbar__logo__content::before {
  position: absolute;
  content: "";
  background-color: #ffeb38;
  width: 200px;
  height: 30px;
  top: 0;

  border-radius: 0px 50px 0px 0px;
  margin-top: 2em;
}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__main ul {
  display: flex;
  margin-right: 2em;
}
.navbar_contant {
  margin: 1em;
  color: white;
  font-size: 20px;
  padding: 8px 10px;
}
.navbar_contant:hover {
  background-color: #ffeb38;
  color: black;
  margin: 20px;
  padding-top: 3em;
  /* padding-right: 0.3em; */
  /* padding-left: .5em; */
  padding-bottom: 0.5em;
  font-size: 20px;
  border-radius: 0px 0px 25px 0px;
  transition: 1s;
}
.span__header {
  font-weight: bold;
  font-size: 45px;
  color: #ffff;
}
.span__header__one {
  font-weight: bold;
  font-size: 35px;
  color: #ffff;
}
.navbar__main {
  margin-top: 25px;
}

/* 2nd .navbar */
.side_nav {
  width: 250px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  background: #ffeb38;
  z-index: 3;

  display: none;
  animation: slider 1s both;
  transition: 300ms ease-in-out;
}
.side_nav ul li {
  list-style: none;
  margin: 50px 20px;
}
.side_nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
@keyframes slider {
  from {
    right: -250px;
  }
  to {
    right: 0px;
  }
}
.menu_btn {
  width: 50px;
  height: 50px;
  background: #ffeb38;
  text-align: center;
  position: absolute;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  display: none;
}
.menu_btn img {
  width: 20px;
  margin-top: 18px;
}

@media (max-width: 1120px) {
  .menu_btn {
    display: block;
  }
  .navbar__main {
    display: none;
  }
}

/* header_section */
.contect__header__line_one {
  color: rgb(248, 248, 248);
  font-size: 40px;

  padding-bottom: 0.3em;
}
.contect__header__line_two {
  color: rgb(248, 248, 248);
  font-size: 30px;
}
.contect__header {
  text-align: center;
  align-items: end;

  padding-top: 190px;
}
.Intro__about_us {
  padding-top: 5em;
}

@media (max-width: 1120px) {
  .ibl__heading {
    font-size: 29px;
  }
}
@media (max-width: 1090px) {
  /* .navbar__logo__content::before {
    width: 150px;
    height: 30px;
  } */
  .baner_map__img {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .navbar {
    height: 500px;
  }
}

.about_title_pra {
  top: 0;
  left: 0;
  padding-top: 90px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.About_us_section {
  margin: auto;
  display: flex;
  width: 95%;
  max-width: 1920px;

  justify-content: space-around;

  margin-bottom: 50px;
}
.About__left__section {
  flex-basis: 40%;
  /* width: 40%; */
  text-align: left;
  padding-top: 8em;
  margin-left: 6em;
}
.About__us__pic {
  /* flex-basis: 50%; */
  /* width: 50%; */
  margin: auto;
}
.About__us__pic img {
  width: 100%;
  width: 500px;

  border-radius: 10px;
}
.About__left__section h1 {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;

  font-size: 35px;
  color: black;
}

.about img {
  height: auto;

  border-radius: 10px;
}
.about_us__heading {
  font-size: 30px;
  font-weight: bolder;
}
.span__About__us {
  position: absolute;
  content: "";
  background-color: #ffeb38;
  width: 200px;
  height: 22px;
  z-index: -1;
  margin-top: 18px;
  max-width: 1920px;
}
.all__span {
  margin-right: 15%;
}
@media (max-width: 900px) {
  .About__left__section {
    flex-basis: 30%;
    margin: 2em;
  }
  .About__us__pic img {
    width: 400px;
  }
  .Intro__about_us {
    flex-direction: column;
    width: 100%;
  }
  .about_us__heading {
    font-size: 20px;
  }
  .span__About__us {
    height: 12px;
    width: 120px;
    margin-top: 12px;
  }
  .About_us__pra {
    font-size: 13px;
  }
}
@media (max-width: 720px) {
  .About_us_section {
    display: inline;
    justify-content: center;
    align-items: center;
  }

  .about_us__heading {
    display: flex;
  }
  .About__left__section {
    flex-basis: 100%;

    justify-content: center;
    align-items: center;
    margin-left: 3em;
  }
  .About__us__pic {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .About_us__pra {
    width: 70%;
  }
  .About__us__pic img {
    width: 400px;
  }
}
@media (max-width: 320px) {
  .About__left__section {
    flex-basis: 100%;
  }
  .span__About__us {
    background-color: transparent;
  }
  .about_us__heading {
    font-size: 20px;
  }
  .About_us__pra {
    font-size: 10px;
  }
  .About__us__pic img {
    width: 400px;
    display: contents;
  }
}

.components {
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 8em;
}
.components___span {
  background-color: #ffeb38;
  border-radius: 0em 4em 0em 0em;
  height: 160px;
  margin-top: 0.7em;
  z-index: -9;
  position: absolute;

  width: 92%;
}
.components___span_line {
  border: #001920 2px solid;
  border-radius: 0em 4em 0em 0em;
  top: -1.4em;
  height: 175px;
  z-index: -9;
  /* position: relative; */
  width: 110%;
}
.span__components___heading {
  content: "";
  background-color: #efefef;
  width: 200px;
  height: 18px;
  margin-left: 75px;
  position: absolute;
  margin-top: 18px;
  top: 5%;
  /* margin-top: 10px; */
  margin-top: 28px;
}
.components {
  position: relative;
}
.components__heading {
  position: absolute;
  /* left:10%; */
  top: 5%;
  margin-left: 3em;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 15px;
}
.components__right__Section {
  position: absolute;
  top: 50%;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
}
.components__left__Section {
  flex-basis: 40%;
  text-align: left;
  padding-top: 3em;
}
.components__heading__img {
  width: 25%;
}

.components__card {
  cursor: pointer;
}
.components__img {
  width: 200px;
  height: 150px;
}
.components__cards__all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 2em;
  /* margin-bottom: 3em; */
}

.components__card__heading {
  font-size: 19px;
  font-weight: bolder;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.cards img {
  width: 200px;
  height: 150px;
}
.mains {
  display: flex;
  /* position: absolute; */
  margin-top: -100px;

  top: 45%;
  justify-content: space-around;
  margin-left: 5em;
  width: 80%;
  flex-wrap: wrap;
}
.card__all__main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 20%;
}
.card__all__main:hover {
  transform: scale(1.1);
  /* transition: 1s; */
  transition: all 1s;
}
.card__img {
  margin-bottom: 1em;
}
.card__all__main img {
  width: 250px;
  height: 150px;
  margin-left: 20px;
}
.card__all__main p {
  font-size: 15px;
  font-weight: 600;
  margin: 0%;
  margin-left: 8px;

  text-transform: capitalize;
}

.para__last {
  padding-left: 1em;
}
.para__one {
  padding-left: 1em;
}
.para__two {
  padding-left: 4em;
}
.para__three {
  padding-left: 4em;
}
.components__left__Section {
  margin-left: 4em;
}
.span__components___card {
  content: "";
  background-color: #ffeb38;
  width: 110px;
  height: 10px;

  margin-left: 20px;
  position: absolute;
  z-index: -1;

  margin-top: 175px;
}
.span__components___card__two {
  content: "";
  background-color: #ffeb38;
  width: 60px;
  height: 10px;

  margin-left: 70px;
  position: absolute;
  z-index: -1;

  margin-top: 175px;
}
@media (max-width: 1120px) {
  .mains {
    display: flex;
    flex-wrap: wrap;
  }
  .card__all__main {
    width: 30%;
  }
  .span__components___card {
    background-color: white;
  }
  .span__components___card__two {
    background-color: white;
  }
}
@media (max-width: 900px) {
  .card__all__main {
    width: 40%;
  }
}
@media (max-width: 700px) {
  .card__all__main {
    width: 70%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .span__components___heading {
    background-color: transparent;
  }
  .components__heading {
    margin-left: 0;
    font-size: 25px;
  }
}
.project {
  width: 100%;
  display: flex;
  margin-left: 3em;
  /* margin-bottom: 2em; */
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
}

.project__section_one {
  width: 30%;
}
.project___main__data {
  margin-left: 4.5em;
  display: flex;
  margin-top: 2em;
}
.svg__project {
  margin-top: 30px;
}
.project__heading___pra {
  margin: 2em 0px;
  padding-left: 30px;
}

.project__section_two {
  width: 30%;
}
.project__section_three {
  width: 30%;
}

.heading__project {
  font-size: 18px;
  font-weight: 300px;
}
.pra__project {
  font-size: 15px;
  background: #ffeb38;
  width: fit-content;
  font-weight: bold;
}
.project___span {
  background-color: #ffeb38;
  border-radius: 0em 4em 0em 0em;
  height: 330px;
  z-index: -9;
  /* position: absolute; */
  /* justify-content: center;  */
  display: flex;
  align-items: flex-end;
  padding: 0px 15px 15px 20px;
  width: 80%;
  font-size: 30px;
  font-weight: bold;
}
.project___span__line {
  border: #001920 2px solid;
  border-radius: 0em 6em 0em 0em;
  top: -21.6em;
  height: 330px;
  margin-left: 2em;
  z-index: -9;
  position: relative;
  /* position: relative; */
  width: 80%;
}

@media (max-width: 1120px) {
  .project {
    flex-wrap: wrap;
  }
  .project__section_one {
    width: 50%;
  }
  .project__section_two {
    width: 50%;
  }
  .project__section_three {
    margin-top: 5em;
    justify-content: center;
    align-items: center;
  }
  .project___span {
    font-size: 20px;
    height: 280px;
  }
  .project___span__line {
    height: 280px;
    top: -18.6em;
  }
}
@media (max-width: 900px) {
  .project {
    justify-content: flex-start;
    margin-left: 4em;
  }
  .project__section_one {
    width: 100%;

    justify-content: space-between;
    align-items: center;
  }
  .project__section_two {
    width: 100%;

    justify-content: center;
    align-items: center;
  }
  .project__section_three {
    margin-top: 5em;
    margin-left: 4.5em;
    width: 40%;
  }
  .project___span {
    font-size: 20px;
    height: 280px;
  }
  .project___span__line {
    height: 280px;
    top: -18.6em;
  }
}
.feacture {
  width: 100%;
  display: flex;

  max-width: 1920px;
  margin: 0 auto;
}
.features__left {
  width: 50%;
}

.features__heading {
  font-size: 24px;
  font-weight: bold;

  width: fit-content;
  margin: 0px 0.5em;
}
.span__feather___text {
  width: 20px;
  font-weight: bold;
}
.feature__text {
  margin: 10px;
  background-color: #ffeb38;
  padding: 1em;
  width: 120%;
  /* z-index: 999; */
  cursor: pointer;
  border-radius: 0px 8em 0px 0px;
}



.features__right {
  width: 50%;
}
.features__right img {
  width: 100%;

  position: relative;
  z-index: -99;
}
.feature___span__line {
  border: #001920 2px solid;
  padding-top: 30px;
  border-radius: 0em 6em 0em 0em;
  /* top: -21.6em; */
  position: relative;
  height: 280px;
  padding-left: 6%;
  z-index: -9;
  /* position: relative; */
  width: 90%;
}


.Location{
  width: 100%;
  margin-top: 5em;
  max-width: 1920px;
  margin: 0 auto;
  padding: 8em 0em;

}



.location__heading{
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  margin: 0px 1em;
  margin-left: 2.5em;
}
.location__main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location__all__con{
  width: 35%;
  margin: 2em;
  display: flex;
  border-radius: 0px 5em 0px 0px;
  align-items: center;
  border:2px #001920 solid;
}
.location__all__con:hover{
background-color: #001920;
color: #efefef;
}
.svg_loction{
  background-color: #ffeb38;
  padding: 1em;
}

.location__con__heading{
  font-size: 18px;
  
  margin-left: 2em;
}
.location__con__heading__span{
  font-size: 18px;
  font-weight: bold;

}
.location__two{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
 
}

.location__two__back img{
  width: 100%;
  height: 500px;

  max-width: 1920px;
  margin: 0 auto;
}
.location__two__heading{
  width: 70%;
  font-size: 22px;
  font-weight: bold;
  z-index: 999;
  margin: 5.5em 3.5em;

  color: white;
  position: absolute;
  
}
.location___two__para{
  width: 60%;
  font-size: 16px;
  margin: 10em 4.5em;
  z-index: 999;
  color: white;
  position: absolute;
  
}
.location___two_second_pra{
  width: 60%;
  font-size: 15px;
  padding-top: 1em;
  font-weight: bold;
  margin: 0em 4.5em;
  z-index: 999;
  
  
}
.location__contact__us{
  display: flex;
  align-items: center;
  text-align: inherit;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.location__two__span {
  background-color: #ffeb38;
  border-radius: 0em 0em 3em 0em;
  height: 120px;
 
  z-index: -9;
  position: absolute;
  width: 92%;
  max-width: 1920px;
  margin: 0 auto;
  
}

.location___two__button button{

padding: 0.6em 1em;
background-color: #ffeb38;
font-weight: bold;
border: 1px solid;
cursor: pointer;

}
.button__location:hover{
    top: 0;
    left: 0;
    background:#efefef;
    color: #001920;
    border: 1px solid #ffeb38;
    transition: 0.8s;

}
.location___two__pra{
  width:65%;
}

.footer{
  width: 100%;
  display: flex;
  
}
.footer__img{
  display: flex;
  align-items: flex-end;
}
.footer___left__img{
  height: 250px;
  width: 150px;
}
.fotter__top{
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 5em;
}
.footer__section__con{
  width: 33%;
}

.footer__heading__pra{
  font-size: 18px;
}
.footer__heading__pra{
  font-size: 14px;
  padding-right: 1em;
  margin-top: 1em;
  font-weight: 400;
}
.footer___page__detail{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 18%;
  
}
.footer___sections__heading{
  font-size: 14px;
}
.fotter___page__details__all{
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin: 0.8em 0;
  width: fit-content;
  
}
.footer__quick__link{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 18%;
}
.footer__All__detail__con{
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin: 0.8em 0;
  width: fit-content;
}
.footer__list{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 18%;
}
.footer__list__detail{
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin: 0.8em 0;
  width: fit-content;
}












.Intro__about_us {
  animation-duration: 2s;
  animation-name: slidein;
 
  scroll-behavior: unset;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}






/* 

.service{
 
  padding: 70px;
  background: white ;

  }
  .service_box{
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
  }
  .single_service{
      flex-basis: 48%;
      text-align: center;
      border-radius: 7px;
      margin-bottom: 20px;
      color: #fff ;
      position:relative;
  }
  
  .single_service img{
      width: 100%;
      border-radius: 7px;
      
  
  }
  .overlay{
      height: 100%;
      width:  100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 7px;
      cursor: pointer;
      background: linear-gradient(rgba(0,0,0,.5),#ffeb38);
       opacity: 0;
       transition: all .5s ease-in-out;
       
  }
  .single_service:hover{
      transform: scale(1.06);
      
      transition: all 1s ;
      
  
  
  }
  .single_service:hover .overlay{
      opacity: 1;
   }
   .service_dec{
      width: 80%;
      position: absolute;
      bottom: 40%;
      left: 50%;
      transform: translate(-50%);
      opacity: 0;
      transition: all .5s ease-in-out;
   }
   .single_service:hover .service_dec{
      opacity: 1;
   }
  .service_dec h3{
      color: #ffeb38;
      font-size: 35px;
  }
  .service_dec p{
      color: white;
      font-size: 14px;
  }
  .service_dec hr{
      background: #fff;
      height: 2px;
      border: 0;
      margin: 15px auto;
      width: 60%;
  }
  @media screen  and (max-width: 770px){
      .single_service{
          flex-basis: 200%;
     
          margin-bottom: 30px;
          color: #fff ;
       
      }
      .service_dec p{
          color: black;
          font-size: 12px;
      }
      .single_service{
          width: 200px;
      }
  
  }
  .title_text{
    text-align: center;
    padding-bottom: 70px;

}
.title_text p{
    margin: auto;
    font-size: 25px;
    color: #ffeb38;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title_text h1{

    font-size: 50px;
}
.service__img{
  width: 100%;
  height: 250px;
} */
